
############################################
#Generic File and Folder ignors:
*.bak
RemoteSystemsTempFiles/*
.DS_Store
workspace/
workingDir/
data/
logs/
*.log
*.log*
.git/
.vscode/

############################################
# Build Locations:
build/
target/
bin/
node/
node_modules/
app-bundle.js
fortify_results/
.gradle/*
gradle/wrapper/

############################################
# Eclipse Files:
.tern-project
.settings/
Servers/*
.metadata/*
.recommenders/*
.classpath
.project
mvnw
mvnw.cmd
.mvn/

############################################
# IntelliJ Files
*.eml
*.iml
.idea/*
!.idea/runConfigurations/
.factorypath

############################################
# local Jenkins CLI files
jenkins-cli.jar
jenkins.jks
